#blood {
  position: absolute;
  bottom: 0;
  left: 0; 
  width: 100%;
  z-index: 1;
  opacity: 0;
  animation: bloodAppear 5s 1.5s forwards;
}

@keyframes bloodAppear {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}