.circle {
  background-image: url("../../assets/empty.jpg");
  background-size: cover;
  height: 12.2vw;
  width: 19vw;
  border: none;
  margin: 1rem;
}

.circle.stand {
  background-image: url("../../assets/stand.jpg");
}

.circle.aim {
  background-image: url("../../assets/aim.jpg");
}

.circle.shot {
  background-image: url("../../assets/kill.jpg");
}

.circle.enemyKilled {
  background-image: url("../../assets/enemyKilled.jpg");
}

/* MEDIA */
@media (max-width: 830px) {

  .circle {
    height: 21.96vw;
    width: 34.2vw;
    margin: 0.5rem;
  }
}
