.textBox{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#missionfailed {
  margin-bottom: 1rem;
}

#yourScore {
  margin-bottom: 1rem;
}

#classified {
  width: 20%;
  position: absolute;
  top: 5%;
  left: 2%;
}

.btn {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-width: 1px;
  border-radius: 5px;
  box-shadow: none;
  top: 0.5rem;
  right: 0.5rem;
}
