.bigBox {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display:flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display:flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}

.modal {
  background-color: white;
  opacity: 1;
  color: #333;
  height: 40vh;
  width: 40vw;
  padding: 2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  /*so the button could position itself*/
  ;
}

#missionfailed {
  z-index: 1;
}

#classified {
  width: 20%;
  position: absolute;
  top: 5%;
  left: 2%;
}

#winGifBox {
  height: 70%;
  display: flex;
  justify-content: center;
  opacity: 1;
}
#winGif {
  display: flex;
  justify-content: center;
}

.btn {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-width: 1px;
  border-radius: 5px;
  box-shadow: none;
  top: 0.5rem;
  right: 0.5rem;
}

@media (max-width: 830px) {

  .modal {
    height: 60vh;
    width: 84vw;
  }
}